/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2026 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

:root[data-glpi-theme="budel"] {
    --tblr-primary-rgb: 161, 15, 15; // #a10f0f
    --tblr-primary-fg: #fff;
    --tblr-primary-darken: #c21414;
    --tblr-link-color-rgb: 161, 15, 15;
    --tblr-secondary: #6d6d72;
    --tblr-border-color: #cfcfd3;
    --tblr-border-color-translucent: #e7e7e9;
    --tblr-body-bg: #f1f1f2;
    --glpi-mainmenu-bg: #161616;
    --glpi-mainmenu-fg: #fff;
}
